<div ui-content-for="title">
  <span>Búsqueda de biografías</span>
</div>

<div class="scrollable" ui-state="searchBar" >

  <input
    ng-model="searchText"
  
    class="form-control scrollable-header"
    placeholder="Buscar.." />

  <div class="scrollable-content">
    <div  class="list-group">
      <a ng-repeat="item in perfil | filter:searchText" href="#/peril/{{item.id}}" class="list-group-item">
     {{ item.nombre }} - {{ item.lugar_nacimiento }}- {{ item.fecha_nacimiento }} <i class="fa fa-chevron-right pull-right"></i>
      </a>
    </div>
  </div>


</div>