{% extends "base.html" %}
{% load i18n %}

{% load account %}

{% block login %}

<h2>{% trans "Cerrar Sesion" %}</h2>

<p>{% trans 'Estas cerrando tu sesión, ¿estas seguro?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button class="btn btn-primary button" type="submit">{% trans 'Si' %}</button>
</form>

{% endblock %}
