<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
    {% load static  from staticfiles %}
        <script src="{% static "assets/js/jquery.min.js" %}"></script>
		<link rel="stylesheet" href="{% static "assets/css/main.css" %}">
        <link rel="stylesheet" href="{% static "assets/css/font-awesome.min.css" %}">

        {%block extraheader%}{%endblock%}


</head>
{% block Content %}

{% endblock Content %}
{% block login %}{% endblock %}
{% block Footer %}
<!-- Footer -->
<div id="footer">
					<div class="container">

						<hr />
						<div class="row">
							<div class="12u">

								<!-- Contact -->
									<section class="contact">
										<header>
											<h3>El Gran Legado</h3>
										</header>
										<p>Calle 57 #13-65 Of: 201 Bogotá - Colombia Tel: 5437760 Movil: 314 371 8273</p>
										<ul class="icons">
											<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
											<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
											<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
											<li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
											<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
											<li><a href="#" class="icon fa-linkedin"><span class="label">Linkedin</span></a></li>
										</ul>
									</section>

								<!-- Copyright -->
									<div class="copyright">
										<ul class="menu">
											<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
										</ul>
									</div>

							</div>

						</div>
					</div>
				</div>
{% endblock Footer %}
{% block Scripts %}
    <script src="{% static "assets/js/jquery.dropotron.min.js" %}"></script>
    <script src="{% static "assets/js/jquery.scrolly.min.js" %}"></script>
    <script src="{% static "assets/js/jquery.onvisible.min.js" %}"></script>
    <script src="{% static "assets/js/skel.min.js" %}"></script>
    <script src="{% static "assets/js/util.js" %}"></script>
    <script src="{% static "assets/js/main.js" %}"></script>
     <script src="{% static "assets/js/fuente.js" %}"></script>
{% endblock Scripts %}
{% block extrafootScripts %}

{% endblock %}
</html>