{%extends "base.html"%}

{% block Content %}
	<body class="no-sidebar">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header">

					<!-- Inner -->
						<div class="inner">
							<header>
								<h1>{%include "logo.html"%}</h1>
							</header>
						</div>

					<!-- Nav -->
					{% include 'menu.html' %}

				</div>

			<!-- Main -->
				<div class="wrapper style1">

					<div class="container">
						<article id="main" class="special">
							<header>
								<h2><a href="#">{{ func.nombre }}</a></h2>
								<p>

								</p>
							</header>
                            {% load static from staticfiles %}
							<a href="#" class="image featured"><img src="{{ STATIC_URL }}{{ func.imagen }}" alt="" /></a>
							<p>
								{{ func.parrafo_uno | safe  }}

							</p>
							<section>
								<header>
									<h3>VISIÓN:</h3>
								</header>
								<p>
									{{ func.parrafo_tres | safe  }}
								</p>

							</section>
							<section>
								<header>
									<h3>MISIÓN:</h3>
								</header>
								<p>
									{{ func.parrafo_dos  | safe }}
								</p>
							</section>
						</article>
						
					</div>

				</div>



		</div>



	</body>
{% endblock Content %}