{%extends "base.html"%}

{% block Content %}
	<body class="homepage">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header">

					<!-- Inner -->
						<div class="inner">
							<header>
								<h1>{%include "logo.html"%}</h1>
								<hr />
								<p>Portal web para
                                    realizar homenajes póstumos ó en vida a sus seres queridos.
                                                                    </p>
							</header>
							<footer>
								{%include "buscador.html"%}
							</footer>
						</div>

					<!-- Nav -->
					{% include 'menu.html' %}

				</div>

			<!-- Banner -->
				<section id="banner">
					<header>
						<h2>Frases del día</h2>
						<p>
							{{ frase }}
						</p>
					</header>
				</section>

			<!-- Carousel -->
				<section class="carousel">
					<div class="reel">
                    {% load static  from staticfiles %}
                        {% for obj in perfiles %}
						<article>
							<a href="{% url "perfil" obj.slug %}" class="image featured"><img src="{% if obj.imagen %}{{ obj.imagen.url }}{% endif %}" alt="" /></a>
							<header>
								<h3><a href="{% url "perfil" obj.slug %}">{{ obj.nombre }}</a></h3>
							</header>
							<p>{{ obj.profesion }}</p>
						</article>
						{% endfor %}

					</div>
				</section>



			<!-- Features -->
				<div class="wrapper style1">

					<section id="features" class="container special">

						<div class="row">
							<article class="4u 12u(mobile) special">
								<a href="{% url "servicios"  %}" class="image featured"><img src="{{ STATIC_URL }}{{ servicio.imagen }}" alt="" /></a>
								<header>
									<h3><a href="{% url "servicios" %}">{{ servicio.nombre }}</a></h3>
								</header>
								<p>
									{{ servicio.resumen | safe }}
								</p>
							</article>
							<article class="4u 12u(mobile) special">
								<a href="{% url "homenajes"   %}" class="image featured"><img src="{{ STATIC_URL }}{{ homenaje.imagen }}" alt="" /></a>
								<header>
									<h3><a href="{% url "homenajes"  %}">{{ homenaje.nombre }}</a></h3>
								</header>
								<p>
									{{ homenaje.resumen | safe }}

								</p>
							</article>
							<article class="4u 12u(mobile) special">
								<a href="{% url 'legajados' %}" class="image featured"><img src="{{ STATIC_URL }}{{ legaj.imagen }}"  alt="" /></a>
								<header>
									<h3><a href="{% url 'legajados' %}">{{ legaj.nombre }}</a></h3>
								</header>
								<p>
									{{ legaj.resumen | safe }}
								</p>
							</article>
						</div>
					</section>

				</div>



		</div>


	</body>
{% endblock Content %}