{%extends "base.html"%}
{%block extraheader%}
<style type="text/css">
	{% if perfil_persona.imagen %}
	#header {
			position: relative;
			background-image: url("{{ perfil_persona.imagen.url }}")!important;
			background-size: cover;
			background-position: center center;
			background-attachment: fixed;
			color: #fff;
			text-align: center;
			padding: 7.5em 0 2em 0;
			cursor: default;

		}	
	{% endif %}

</style>
{%endblock%}	

{% block Content %}
	<body class="left-sidebar">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header">

					<!-- Inner -->
						<div class="inner">
							<header>
								<div class="row">
								<div class="4u 12u(mobile)">
								<h1>{{ perfil_persona.nombre | upper }}</h1>
								</div>
								<div class="8u 12u(mobile)">
									{%if perfil_persona.profesion %}
								<p>Profesion: {{ perfil_persona.profesion }}</p>
									{%endif%}
									{%if perfil_persona.fecha_nacimiento %}
                                <p>Fecha de Nacimiento: {{ perfil_persona.fecha_nacimiento }}</p>
                                	{%endif%}
                                	{% if perfil_persona.lugar_nacimiento %}
                                		<p>Lugar de Nacimiento: {{ perfil_persona.lugar_nacimiento }}</p>
                                	{% endif %}
                               	{% if perfil_persona.audio_file %}
                                <audio controls="controls" autoplay="autoplay" >
                                        <source src="{{ perfil_persona.audio_file.url }}" />
                                </audio>
                                {%endif%}
								
								</div>
								</div>
							</header>

						</div>

					<!-- Nav -->
						{% include 'menu.html' %}

				</div>

			<!-- Main -->
				<div class="wrapper style1">

					<div class="container">
						<div class="row 200%">
							<div class="4u 12u(mobile)" id="sidebar">
								<hr class="first" />
								<section>
                                        <p><h3><a href="{% url 'reconocimientos' perfil_persona.id  %}" class="button 12u">Reconocimiento</a></h3></p>

                                        <p><h3><a href="{% url 'origen_apellido' perfil_persona.id %}" class="button 12u">Origen del apellido</a></h3></p>
                                        <section>
											<hr />
                                        </section>
									<header>
										<h3>Galeria de fotos</h3>
									</header>
										<div class="row 0% images">
                                {% for item in fotos %}
								<div class="6u 12u(mobile)"><a href="{{ item.imagen.url }}" class="image fit from-left"><img src="{{ item.imagen.url }}" title="{{ item.descripcion }}" alt="" /></a></div>
								{%endfor%}
								</section>
							</div>
							<div class="8u 12u(mobile) important(mobile)" id="content">
								<article id="main">
									<header>
										<h2>{{ perfil_persona.nombre | title }}</h2>
										
  									</header>
  									{% if perfil_persona.imagen %}
  									<a href="#" class="image left "><img src="{{ perfil_persona.imagen.url}}" alt="" /></a>
  									{% endif %}
									
									<p>
										{{ perfil_persona.biografia | safe }}
									</p>


								</article>
							</div>
						</div>
						<hr />

					</div>

				</div>


		</div>
{% endblock Content %}